/*
Social icons font: <a href="http://www.socicon.com" target="_blank" alt="Free social icons font" title="the social icons font">socicon</a>
*/

@font-face {
    font-family: 'socicon';
    src: url('http://www.betsoft365.com/assets/css/font/socicon.eot');
    src: url('http://www.betsoft365.com/assets/css/font/socicon.eot?#iefix') format('embedded-opentype'),
         url('http://www.betsoft365.com/assets/css/font/socicon.ttf') format('truetype'),
         url('http://www.betsoft365.com/assets/css/font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}